.searchBlock {
  margin-bottom: 15px;

  .search {
    background-color: rgba(90, 92, 102, 1);
    background-image: url("../../img/search.png");
    background-repeat: no-repeat;
    background-position: 96% 50%;
    user-select: none;
    width: 631px;
    height: 52px;
    color: rgba(178, 183, 191, 1);
    padding-left: 26px;
    font-weight: 400;
    font-size: 14px;
    outline:none;
  }
}