a {
  text-decoration: none;
  color: rgba(71, 73, 85, 1);
}

.content {
  width: 1232px;
  background-color: white;
  box-shadow: 0px 4px 27px rgba(230, 231, 234, 0.78);
  margin: auto;
  padding: 23px 77px 12px;
}